<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <html xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{navbar.css}">
</head>

<body class="container">

<!-- 헤더 시작 -->
<div th:replace="~{/fragments/header.html :: header_fragment}"></div>
<!-- 헤더 끝 -->

<div class="jumbotron">
    <h2>공연 등록/수정/삭제</h2>
</div>

<table class="table">
    <tr>
        <th>공연 번호</th>
        <th>타이틀</th>
        <th>등록일</th>
        <th>수정/삭제</th>
    </tr>
    <tr th:each="item: ${items}">
        <td th:text="${item.idx}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.createDate}"></td>
        <td><button type="button" class="btn btn-primary" onclick="window.location.href='/admin/item_manage/modify' + ${item.id}">수정</button></td>
    </tr>
</table>

<nav style="text-align: center;">
    <!-- <ul class="pagination">
        <li class="disabled">
            <a href="#" aria-label="First">
                <span aria-hidden="true">First</span>
            </a>
        </li>
        <li class="disabled">
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&lt;</span>
            </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&gt;</span>
            </a>
        </li>
        <li>
            <a href="#" aria-label="Last">
                <span aria-hidden="true">Last</span>
            </a>
        </li>
    </ul> -->
</nav>
<button type="button" class="btn btn-primary" onclick="window.location.href='/admin/item_manage/add'">등록</button>
<!-- 푸터 -->
<div th:replace="~{/fragments/footer.html :: footer_fragment}"></div>
</body>
</html>