<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/myPage.css}">
    <link rel="stylesheet" th:href="@{/bootstrap_only_button.css}">
    <link rel="stylesheet" th:href="@{/pagination.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <html xmlns:th="http://www.thymeleaf.org">
    <title>Document</title>
</head>
<body>
<!-- 어드민 베이스 -->
<div th:replace="~{/fragments/admin_base.html :: admin_base_fragment}"></div>
<div class="pay_wrapper">
    <section class="notice">
        <div class="page-title">
            <div class="container">
                <h3>결제내역</h3>
            </div>
        </div>
        <!-- board list area -->
        <div id="board-list">
            <div class="container">
                <table class="board-table">
                    <thead>
                    <tr>
                        <th scope="col" class="th-num">주문번호</th>
                        <th scope="col" class="th-title">회원명</th>
                        <th scope="col" class="th-date">공연명</th>
                        <th scope="col" class="th-date">주문수량</th>
                        <th scope="col" class="th-date">
                            상태 :
                            <select onchange="if(this.value) location.href='/admin/order_manage/option?status='+(this.value);">
                                <option value="ALL">ALL</option>
                                <option value="ORDER">ORDER</option>
                                <option value="CANCEL">CANCEL</option>
                            </select>
                        </th>
                        <th scope="col" class="th-date">일시</th>
                        <th scope="col" class="th-num" >결제 취소</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${paging}">
                        <td><span th:text="${order.idx}"></span></td>
                        <td><span th:text="${order.member.name}"></span></td>
                        <td><span th:text="${order.item.name}"></span></td>
                        <td><span th:text="${order.count}"></span></td>
                        <td><span th:text="${order.orderStatus}"></span></td>
                        <td th:text="${#temporals.format(order.orderDate, 'yyyy.MM.dd')}"></td>
                    <!--         ${#strings.equals(order.orderStatus, 'CANCEL')}               -->
                        <td th:if="${#strings.equals(order.orderStatus, 'ORDER')}"><button
                                class="cancel_btn" style="
                            padding-top: 2px;
                            padding-bottom: 2px;
                            padding-left: 6px;
                            padding-right: 6px;
                            "
                            th:value="${order.idx}">취소</button></td>
                        <td th:if="${#strings.equals(order.orderStatus, 'CANCEL')}"><span>취소됨</span></td>
                    </tr>
                    </tbody>
                </table>
                <!-- 페이징처리 시작 -->
                <div class="pagination_wrapper">
                    <div class="pagination_inner" th:if="${!paging.isEmpty()}">
                        <ul class="pagination justify-content-center pagination_body">
                            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{|?page=${paging.number-1}|}">
                                    <span>이전</span>
                                </a>
                            </li>
                            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                                th:classappend="${page == paging.number} ? 'active'"
                                class="page-item">
                                <a th:text="${page}+1" class="page-link" th:href="@{|?page=${page}|}"></a>
                            </li>
                            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                                    <span>다음</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 페이징처리 끝 -->
            </div>
        </div>
    </section>
    <h3  id="status" th:text="${status}" hidden="hidden">결제내역</h3>
</div>
<script>
    $(document).ready(function() {
    // 서버에서 설정한 status 값을 가져옵니다.
    var status = $('#status').text(); // 혹은 $('#status').val(); 사용 가능합니다.

    // status 값이 "ORDER"인 경우에만 해당하는 option 요소에 selected 속성을 추가합니다.
    if (status === 'ORDER') {
        $('option[value="ORDER"]').prop('selected', true);
    }

    if (status === 'CANCEL') {
        $('option[value="CANCEL"]').prop('selected', true);
    }
    });

    <!----------------------------- 결제 취소 확인 ----------------------------------->


    $('.cancel_btn').on('click', (e) => {
        console.log(e.target.value);
        var order_idx = e.target.value;
        if (confirm("주문번호 : " + order_idx + "  해당 주문을 취소하시겠습니까?") == true) {    //확인

            $.ajax({
                type: "POST",
                url: "/order/refund",
                data: {
                    orderIdx: order_idx
                },
                dataType: "text",
                success: function (data) {
                    if (data == 'success') {
                        alert('취소되었습니다.');
                        window.location.href = '/admin/order_manage';
                    } else {
                        alert(data);
                    }
                },
            });
        } else {   //취소
            return;
        }
    });
</script>
</body>
